<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">


        <div class="jumbotron">
          <h1 class="display-4">CRUD Packer</h1>
          <p class="lead">Manage your CRUD</p>
          <hr class="my-4">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">

          <div class="card-body">
            <h5 class="card-title">Create Box Collection</h5>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
              Create
            </button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">

          <div class="card-body">
            <h5 class="card-title">Quick Search</h5>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal">
              Search
            </button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">

          <div class="card-body">
            <h5 class="card-title">Manage Collection</h5>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#manageModal">
              Manage
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--
         

   <!   
    <div class="row">
      <div class="col-8 offset-2">
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each boxColl}}
          <li data-id="{{this._id}}" class="list-group-item">
            <a href="example/{{this._id}}">{{this.name}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
-->

    <!-- Create Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Collection</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form class="clearfix mb-4" action="POST">
              <div class="form-group">
                <label for="example-name">Name</label>
                <input type="text" id="example-name" class="form-control" aria-describedby="example-name"
                  placeholder="Enter Example Name">
              </div>
              <div class="form-group">
                <label for="example-password">Set Password</label>
                <textarea class="form-control" id="example-password" aria-describedby="example-password"
                  placeholder="Enter Example Password"></textarea>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-lg btn-danger" id="create-form-submit"><span
                class="fa fa-credit-card"></span>Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Manage Modal -->
    <div class="modal fade" id="manageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Manage Collection</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form class="clearfix mb-4" action="POST">
              <div class="form-group">
                <label for="collection-name">Collection Name</label>
                <input type="text" id="collection-name" class="form-control" aria-describedby="update-name"
                  placeholder="Enter Name">
              </div>
              <div class="form-group">
                <label for="collection-password">Password</label>
                <textarea class="form-control" id="collection-password" aria-describedby="collection-password"
                  placeholder="Enter Password"></textarea>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-lg btn-danger" id="mng-form-submit"><span
                class="fa fa-credit-card"></span>Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Manage Collection</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form class="clearfix mb-4" action="POST">
              <div class="form-group">
                <label for="update-name">Search By ID</label>
                <input type="text" id="update-name" class="form-control" aria-describedby="update-name"
                  placeholder="Enter Example Name">
              </div>
              <div class="form-group">

              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-lg btn-danger" id="boxID-form-submit"><span class="fa fa-credit-card"></span>Search
              By ID</button>
            <button class="btn btn-lg btn-danger" id="barcode-form-submit"><span class="fa fa-credit-card"></span>Search
              By Barcode</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="/js/index.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })
  </script>