.list-group-item {
  line-height: 2.5;
}
.img{
  background-color: rgba(0, 0, 0, .1);
  background-image:url("../images/ikea.jpeg");
}
#headerTron{
  background-image: linear-gradient(maroon, rgb(25, 8, 8));
}

#boxCard{
  background-image: linear-gradient(maroon, rgb(25, 8, 8));
}
.coolFont{
  font-family: 'Black Ops One', cursive;
}
.coolFont2{
  font-family: 'Press Start 2P', cursive;
}
.coolFont3{
  font-family: 'Monoton', cursive;
}
.redColor{
  background-image: linear-gradient(maroon, rgb(25, 8, 8));
}